.App {
   background-color: #888a91;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   /* max-width: 500px; */
   width: 100%;
   margin: auto;
   position: relative;
}

.App>form {
   width: 70%;
   border: 1px solid #dfdfdf;
   padding: 20px;
   border-radius: 5px;
   background: #fff;
   width: 350px;
   height: 350px;

}

.form-ui {
   position: relative;
}

.field {
   display: flex;
   flex-direction: column;
   max-width: 450px;
   margin: 10px 0 15px 25px;
}

.field>label {
   margin-left: -10px;
   margin-bottom: 10px;
}

.field>input {
   width: 300px !important;
   height: 30px;
   border-radius: 5px;
   border: 1px solid rgb(112, 112, 112);
}

button {
   background: #0563b4 !important;
   border: none;
   width: 170px;
   height: 30px;
   border-radius: 5px;
   text-align: center;
   font-size: 16px;
   position: absolute;
   top: 235px;
   -ms-transform: translateY(150px);
   transform: translateX(100px);
}